{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} Create a new account {% endblock %}
{% block body_block %}

{% if registered %}
<div class="alert alert success">
    Account has been registered successfully ! <a href="{% url 'app_login:login' %}">Login here</a>
</div>

{% else %}

<h2>Create New Account: </h2>

<form method="POST">
    {{ form|crispy }}
    {% csrf_token %}
    <button type="submit" class ="btn btn-primary ">Create Account</button>
</form>
<br>
<p>Already have an Account? <a href=" {% url 'app_login:login' %} ">login here</a> </p>
{% endif %}
{% endblock %}